
header {
  padding: 154px 0 100px;
}

@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
}

section {
  padding: 150px 0;
}

body{
  height: 100%;
}

#brandText{
  color: black;
}

#collapseNav{
  color: black;
  border-color: black;
}


#mainNav{
  background-color: #D9D9d9;
}

.logo
{
  /*//increase if you have very small images*/
  position: relative;
    zoom: 2;

    display: block;
    margin: auto;

    height: auto;
    max-height: 100%;

    width: auto;
    max-width: 100%;
}

#imgLogo{
  height: 40px;
  width: 40px;
}

#header
{
  background-color: #EFEFEF;
  /*background-image: url("../img/TM Inc Color.png");*/

  background-size: 100%;
  background-repeat: no-repeat;
  height: 100%;
  max-width:100%;
  max-height:100%;
  min-height: 100%;
  min-width:100%;
}

#tm-header
{
  color: black;
}

#services-slide
{
  height: 100%;

}

#carousel-container{
  height: 100%;
}

section#services{
  padding: 20px 0;
  min-height: 80%;
  background-color: #EFEFEF;
  color: #EFEFEF;
}

section#about{
  padding: 100px 0;
  min-height: 80%;
  background-color: #EFEFEF;
}

section#contact{
  padding: 100px 0;
  min-height: 80%;
  background-color: #EFEFEF;
}

#helpUs{
  font-size-adjust:
  text-align: center;
  margin-top: 2px;
  margin: auto;
  width: 50%;
  padding: 10px;
  /*position: relative;
  left: 24%;*/
}
