
header {
  padding: 154px 0 100px;
}

@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
}

@media (max-width: 480px) {
  h3{
    font-size: 20px;
  }
}

@media (max-width: 1240px) {


  .whyTMinc{
    padding-bottom: 10px;
  }




}


@media (max-width: 450px) {
  h3 {
    font-size: 20px;
  }

  h2{
    font-size: 29px;
  }

  #brandText{
    font-size: 14px;
    text-align: center;
  }
}

@media (max-width: 450px) {
  h3 {
    font-size: 20px;
  }

  h2{
    font-size: 29px;
  }

  #brandText{
    font-size: 14px;
    text-align: center;
  }
}

.leader {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.2;
  }

/* p {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.2;
  }*/


h3{
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

h2{
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

p {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}

section {
  padding: 150px 0;
}

body{
  height: 100%;
}

#brandText{
  color: black;
  font-family: 'Rock Salt', cursive;
}

#collapseNav{
  color: black;
  border-color: black;
}


#mainNav{
  background-color: #D9D9d9;
}

.logo
{
  /*//increase if you have very small images*/
  position: relative;
  zoom: 2;
  display: block;
  margin: auto;
  height: auto;
  max-height: 100%;
  width: 100%;
  max-width: 280px;
}

#imgLogo{
  height: 40px;
  width: 40px;
}

#rockSalt{
  font-family: 'Rock Salt';
}

#header
{
  background-color: #EFEFEF;
  /*background-image: url("../img/TM Inc Color.png");*/

  background-size: 100%;
  background-repeat: no-repeat;
  height: 100%;
  max-width:100%;
  max-height:100%;
  min-height: 100%;
  min-width:100%;
}

#tm-header
{
  color: black;
  font-family: 'Rock Salt';
}

#tmSlogan{
  padding-top: 5px;
}

#services-slide
{
  height: 100%;

}

#carousel-container{
  height: 100%;
}

section#services{
  padding: 20px 0;
  min-height: 80%;
  background-color: #EFEFEF;
  color: #EFEFEF;
}

section#about{
  padding: 100px 0;
  min-height: 80%;
  background-color: #EFEFEF;
}

section#contact{
  padding: 100px 0;
  min-height: 80%;
  background-color: #EFEFEF;
}

#services-slide{
  background-color:rgba(0, 0, 0, 0.5);
}

#helpUs{
  font-family: 'Rock Salt';
  font-size: 28px;
  margin-top: 2px;
  margin: auto;
  width: 50%;
  padding: 10px;
  /*position: relative;
  left: 24%;*/
}

#carousel-container{
  max-height: 100%;
}
